@model IEnumerable<Entity.Models.Country>

<p>
    @Html.ActionLink("Ükle Ekle", "CountryRegister")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NativeLanguage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NativeLanguage)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "CountryRegulation", new { id=item.Id  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
